aerich==0.5.3
aiosqlite==0.16.1
asyncpg==0.22.0
attrs==20.3.0
certifi==2020.12.5
ciso8601==2.1.3
click==7.1.2
ddlparse==1.9.0
dictdiffer==0.8.1
fastapi==0.63.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==3.1
iniconfig==1.1.1
iso8601==0.1.14
orjson==3.5.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytest==6.2.3
pytest-asyncio==0.14.0
python-rapidjson==1.0
pytz==2020.5
rfc3986==1.4.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
tortoise-orm==0.17.2
typing-extensions==3.7.4.3
uvicorn==0.13.4
